/* Tablet Views ******************************/
@media only screen and (min-width: 45em){
    
    .navigation{
        display: flex;
    }
    .navigation li { 
        display: block;
        flex: 1 1 100%;
    }
    .navigation a{
        text-align: center;
    }
    .navigation li:first-child{
        display: none;
    }
    header{
        justify-content: center;
    }
    h1{ 
        margin-top: 55px;
    }
    .stats p{
    line-height: 20px;
    text-align: center;

    }
    .stats{
        background-color:rgb(104 169 181 / 91%)
    }
    .tornado_img{
        float: right;
        width: 500px;
        height: auto;
        margin-right: 20px;
    }

    h2{
        font-size: x-large;
    }
    p{
        font-size: x-large;
    }
    .preston{
        text-align: center;
    }
    .navigation a {
        font-size:large;
    }
    .info {
        
        background: #188F84;
        height: 280px;
    }

    iframe {
        float: right;
        width: 550px;
        height: 190px;
        margin-right: 20px;
    }
    .weather img{
        height: 260px;
        width: 500px;
    }
    .weather{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 300px);
        padding: .5em;
        max-width: 100%;
        max-height: 100%;
    }

    .number1{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number2{
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number3{
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number4{
        grid-column: 2/3;
        grid-row: 2/3;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number5{
        grid-column: 1/2;
        grid-row: 3/4;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number6{
        grid-column: 2/3;
        grid-row: 3/4;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number7{
        grid-column: 1/2;
        grid-row: 4/5;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number8{
        grid-column: 2/3;
        grid-row: 4/5;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .number9{
        grid-column: 1/2;
        grid-row: 5/6;
        max-width: 100%;
        max-height: 100%;
        padding: .3em;
    }

    .submitbutton {
        width: 70px;
        font-size: medium;
    }

    /* homepage */
    .sectioncontent .sodasprings{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title img"
            "lema img"
            "year img"
            "popu img"
            "rain img";

    }

    .sodasprings h1{
        grid-area: title;
    }
    .sodasprings h2{
        grid-area: lema;
    }
    .sodasprings p:first-child{
        grid-area: year;
    }
    .sodasprings p:nth-child(0n+2){
        grid-area: popu;
    }
    .sodasprings p:nth-child(0n+3){
        grid-area: rain;
    }
    .sodasprings img{
        grid-area: img;
    }
    
    .sectioncontent .fishhaven {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img title"
            "img lema"
            "img year"
            "img popu"
            "img rain";

    }

    .fishhaven h1 {
        grid-area: title;
    }

    .fishhaven h2 {
        grid-area: lema;
    }

    .fishhaven p:first-child {
        grid-area: year;
    }

    .fishhaven p:nth-child(0n+2) {
        grid-area: popu;
    }

    .fishhaven p:nth-child(0n+3) {
        grid-area: rain;
    }

    .fishhaven img {
        grid-area: img;
    }

    .sectioncontent .prestonhome {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title img"
            "lema img"
            "year img"
            "popu img"
            "rain img";

    }

    .prestonhome h1 {
        grid-area: title;
    }

    .prestonhome h2 {
        grid-area: lema;
    }

    .prestonhome p:first-child {
        grid-area: year;
    }

    .prestonhome p:nth-child(0n+2) {
        grid-area: popu;
    }

    .prestonhome p:nth-child(0n+3) {
        grid-area: rain;
    }

    .prestonhome img {
        grid-area: img;
    }

    .home-who h1 {
        font-size: xx-large;
        text-align: center;
    }

    .home-who img {
        float: right;
        width: 350px;


    }
}

