* {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1720px;
    margin: 2% auto;
    background-color: #cedbda;

}

header {
    width: 100%;
    /* Establecemos que el header abarque el 100% del documento */
    overflow: hidden;
    /* Eliminamos errores de float */
    background: #3C474B;
    margin-bottom: 20px;
}

.wrapper {
    width: 95%;
    /* Establecemos que el ancho sera del 90% */
    max-width: 100%;
    /* Aqui le decimos que el ancho máximo sera de 1000px */
    margin: auto;
    /* Centramos los elementos */
    overflow: hidden;
    /* Eliminamos errores de float */
}

header .logo {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover {
    background: #C0E0DE;
    border-radius: 50px;
}

main {
    max-width: 1800px;
    background-color: white;
    display: flex;
    display: block;
}


footer {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    background-color: #3C474B;
    height: 80px;
    padding-top: 25px;
}

.holder img {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.bataholacham h2{
    text-align: center;
    font-size: xx-large;
}

.bataholacham p{
    font-size: x-large;
    margin: 20px;
}

.wrapper nav img{
    width: 40px;
}

.grid_forescast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    height: 120px;
    background-color: rgb(87, 126, 161);
    align-content: center;
    font-size: small;
    border-radius: 0 0 5px 5px;
}

/*  */

.first {
    grid-column: 1/2;
    place-self: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.second {
    grid-column: 2/3;
    place-self: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.thirth {
    grid-column: 3/4;
    place-self: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fourth {
    grid-column: 4/5;
    place-self: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fifth {
    grid-column: 5/6;
    place-self: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fivedays {
    text-align: center;
    padding: 0;
    background-color: #C0E0DE;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

iframe {
    padding: 5px;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.gallery {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.weather img[data-src] {
    filter: blur(.2em);
    /* height: 270px;
    width: max-content; */
}

.weather img {
    filter: blur(0em);
    transition: filter 1s;
}

figcaption {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.hero_img{
    width: 100%;
}

.managua_img {
    width: 100%;
    height: auto;
}

.stats p {
    line-height: 20px;
    text-align: center;
    font-size: large;

}

.stats {
    background-color: #4F7CAC
}

fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: 1rem;
    background-color: #C0E0DE;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

legend {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

}

label {
    padding-top: 1rem;
    font-size: 1rem;
}

.title input,
label select {
    display: block;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 4px;
    padding: .4rem;
    width: 100%;
    max-width: 20rem;
}

.level {
    padding: .5rem;
}

.submitbutton {
    border-radius: 10px;
    background-color: rgba(18, 205, 238, 0.911);
    padding: .50rem;
    justify-self: center;
    width: 60px;
    font-size: small;
    margin: 10px auto 10px auto;
    text-align: center;


}

label input:required {
    border-right: red solid 2px;
}

label input:required:valid {
    border-left: green solid 2px;
}

textarea {
    height: 4.4em;
    width: 100%;
}

.divbutton {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

picture p {
    text-align: center;
}

.companies {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    gap: 10px;
}

.companies img {
    width: 380px;
    height: 250px;
    display: block;
    margin: auto;
    padding: 2rem;
}

.companies div {
    border: 2px solid #3C474B;
}